.fakeimg {
    weigh :50px;
    height: 200px;
    background: #aaa;
}
.jumbotron1 {
    padding: unset;
    background-size: cover;
    height: 450px;
    padding: 0rem 0rem;
}
.banner{
    width: 100%;
    height: 100%;
}
.bg-dark1 {
    background-image: url("../img/background 01.jpg");
    background-size: 100% 100%;
}
.navbar {
    height: 300px;

}
.column{
    padding: 30px;
}
.container-fil{
    margin-left: 100px;
    margin-right: 100px;
}
